<div class="container mx-auto flex flex-col lg:flex-row justify-center gap-20">
  <div class="w-full lg:w-5/12 flex justify-center flex-col px-10 lg:px-0">
    <img
      src="../img/logo-fundacion-uriel-white.svg"
      class="w-8/12 mb-5"
      alt=""
    />

    <p class="text-justify text-base">
      En Fundación Uriel, trabajamos todos los días para prevenir y combatir las
      quemaduras, protegiendo la salud y el bienestar de los más pequeños.
      Gracias a la colaboración de aliados y la solidaridad de quienes nos
      apoyan, seguimos dando pasos hacia un futuro más seguro y libre de
      quemaduras.
    </p>
  </div>

  <div class="w-full lg:w-5/12 text-base px-10 lg:px-0">
    <p class="mb-4"><b>Síguenos en :</b></p>

    <div class="flex gap-5 mb-4">
      <a href="https://www.facebook.com/Fundacionquemaduras" target="_blank">
        <img src="../img/facebook.png" alt="" />
      </a>
      <a
        href="https://www.instagram.com/urieliap?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
      >
        <img src="../img/instagram.png" alt="" />
      </a>

      <a href="https://x.com/URIELIAP">
        <img src="../img/x.png" alt="" />
      </a>
    </div>

    <p class="mb-4">
      <b> Dirección:</b> <br />
      Trompeleros 231, Villa de las Flores, Coacalco, Estado de México, C.P.
      55710
    </p>

    <p>
      <b>Teléfono:</b> <br />
      55 1234 5678
    </p>

    <p>
      <b>Correo: </b> <br />
      contacto@fundacionuriel.org
    </p>
  </div>
</div>
<div>
  <p class="bg-[#485683] p-3 text-center text-sm mt-10">
    Todos los derechos reservados Fundación Uriel 2025
  </p>
</div>
